#emacs
*~

#vim
Session.vim

#build directory
build

# Object files
*.o
*.ko
*.obj
*.elf
*.slo
*.lo

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.lai
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Project specific
variante.h
